/bin
/*.jar
/test
/nbproject
/ci/*.xml
/target
/dist
/temp
/*.log
/logfactory.xml
/.metadata
.project
.classpath
/**/.settings/*eclipse.*.core.prefs
/**/tsl2.nano.*/.vscode
/**/tsl2.nano.*/.project
/**/tsl2.nano.*/.classpath
