/bin
/*.jar
/test
/nbproject
/ci/*.xml
/target
/dist
/temp
/*.log
/.metadata
.*
/**/.settings/*eclipse.*.core.prefs
/**/tsl2.nano.*/.vscode
/**/tsl2.nano.*/.project
/**/tsl2.nano.*/.classpath
/**/logfactory.*ml
/**/*.swp
/**/tags