#define($entity)${util.toLowerCase(${class.Name})}#end
#set( $OP = "${")
#set( $CL = "}")
<!-- 
    Thymeleaf Container View
    created by: velocity template (${template})
    created on: ----/--/-- (not filled with property 'time' to simplify version-diffs)

${copyright}
-->
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="page" th:switch="$OP${entity}s$CL">
    <h2 th:case="null">No ${class.Name} yet!</h2>
        <div th:case="*">
        <form>
            <h2>${class.Name}</h2>
        <div class="table">
                <span class="thead">
                    <div class="tr">
#foreach( $att in $class.Attributes)    
                        <span class="th">${att.Name}</span>
#end
                        <span class="th">Edit</span>
                        <span class="th">Delete</span>
                    </div>
                </span>
                <span class="tbody">
                <div class="tr">
#foreach( $att in $class.Attributes)    
                <span class="td">
                    <input type="text" id="${att.Name}" th:value="*{${att.Name}}" placeholder="${att.Name}">
                    <a th:href="@{/${entity}s/${att.Name}/${value}(value=$OP${att.Name}$CL)}">Search</a>
                    <!--<a th:href="@{/${entity}s/${att.Name}/${value}(value=$OP${att.Name}.value$CL)}">Search</a>-->
                </span>
#end
                </div>
                <div class="tr" th:each="e : $OP${entity}s$CL">
#foreach( $att in $class.Attributes)    
                    <span class="td" th:text="$OP e.${att.Name}$CL"></span>
#end                    
                    <span class="td"><a th:href="@{/${entity}/edit/{id}(id=${e.id})}">Edit</a></span>
                    <span class="td"><a th:href="@{/${entity}/delete/{id}(id=${e.id})}">Delete</a></span>
                </div>
            </span>
        </div>
        <input type="button" value="Back" onclick="history.back()" >
        <a href="/${entity}/create" class="button">New</a>
        </form>
    </div>      
</div>