#define($entity)${util.toLowerCase(${class.Name})}#end
#set( $OP = "${")
#set( $CL = "}")
<!-- 
    Thymeleaf Container View
    created by: velocity template (${template})
    created on: ----/--/-- (not filled with property 'time' to simplify version-diffs)

${copyright}
-->
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="page" th:switch="$OP${entity}s$CL">
    <h2 th:case="null">No ${class.Name} yet!</h2>
        <div th:case="*">
        <form>
        <div class="table">
#foreach( $att in $class.Attributes)    
            <div class="tr">
                <span class="td">
                    <label for="${att.Name}">${att.NameFU}</label>
                </span>
                <span class="td">
                    <input type="text" th:field="*{${att.Name}}" id="${att.Name}" placeholder="${att.Name}">
                </span>
                <span class="td">
                    <a th:href="@{/${entity}s/${att.Name}/${att.Name}}">Search</a>
                </span>
            </div>
#end
        </div>
        </form>
        <form>
            <h2>${class.Name}</h2>
            <table>
                <thead>
                    <tr>
#foreach( $att in $class.Attributes)    
                        <th>${att.Name}</th>
#end
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="e : $OP${entity}s$CL">
#foreach( $att in $class.Attributes)    
                    <td th:text="$OP e.${att.Name}$CL"></td>
#end                    
                    <td><a th:href="@{/${entity}/edit/{id}(id=${e.id})}">Edit</a></td>
                    <td><a th:href="@{/${entity}/delete/{id}(id=${e.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Back" onclick="history.back()" >
        <a href="/${entity}/create" class="button">New</a>
        </form>
    </div>      
</div>