<!-- 
    Thymeleaf Container View
    created by: velocity template (${template})
    created on: ----/--/-- (not filled with property 'time' to simplify version-diffs)

${copyright}
-->
#define($entity)${util.toLowerCase(${class.Name})}#end
#set( $OP = "${")
#set( $CL = "}")

<!--<form action="#" th:action="@{${entity}/save/{id}(id=${${entity}.id})}" th:object="$OP${entity}$CL" method="post"> -->
<form action="#" th:action="@{/${entity}/add}" th:object="$OP${entity}$CL" method="post">
#foreach( $att in $class.Attributes)    
    <label for="${att.Name}">${att.NameFU}</label>
    <input type="text" th:field="*{${att.Name}}" id="${att.Name}" placeholder="${att.Name}">
    <span th:if="${#fields.hasErrors('${att.Name}')}" th:errors="*{${att.Name}}"></span>
#end
    <input type="submit" value="Save">
</form>