#define($entity)${util.toLowerCase(${class.Name})}#end
#set( $OP = "${")
#set( $CL = "}")
<!-- 
    Thymeleaf Container View
    created by: velocity template (${template})
    created on: ----/--/-- (not filled with property 'time' to simplify version-diffs)

${copyright}
-->
<div th:switch="$OP${entity}s$CL">
    <h2 th:case="null">No ${class.Name} yet!</h2>
        <div th:case="*">
            <h2>${class.Name}</h2>
            <table>
                <thead>
                    <tr>
#foreach( $att in $class.Attributes)    
                        <th>${att.Name}</th>
#end
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="e : $OP${entity}s$CL">
#foreach( $att in $class.Attributes)    
                    <td th:text="$OP e.${att.Name}$CL"></td>
#end                    
                    <td><a th:href="@{/${entity}/edit/{id}(id=${e.id})}">Edit</a></td>
                    <td><a th:href="@{/${entity}/delete/{id}(id=${e.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/${entity}/create">Add a new ${class.Name}</a></p>
</div>