<!-- 
    Thymeleaf Container View
    created by: velocity template (${template})
    created on: ----/--/-- (not filled with property 'time' to simplify version-diffs)

${copyright}
-->
<h2>${util.toFirstUpperCase(${project.name})}</h2>
<table>
#foreach( $class in $allClasses)    
       <tr><td>    <p><a href="/${util.toLowerCase(${class.Name})}s/all">${class.Name}</a></p></td></tr>
#end
</table>
